{% extends 'base.html.twig' %}

{% block title %}Crear Area{% endblock %}

{% block body %}
    <h1>Create Area</h1>
<div class="container" style="width: 75%">
    {{ include('area/_form.html.twig') }}

    <a href="{{ path('app_area_index') }}">Volver a la lista</a>

</div>
{% endblock %}
